        
        <div class="page-data">
            
            <form method="post" action="/subcategoria/addSave/">
                <table cellpadding="11">
                <tr>
                    <td class="label">Descripcion</td><td>: <input type="text" name="descripcion" required></td>
                </tr>
                
                <tr>
                    <td class="label">Categoria</td><td>: 
                    <select name="categoria">
                        <option value="0"> 0.- Seleccione...</option>
                        <option value="1"> 1.- Shampoo</option>
                        <option value="2"> 2.- Balsamo</option>
                        <option value="3"> 3.- Aceites de Argan</option>
                        <option value="4"> 4.- Aceites de caballo</option>
                    </select>
                </tr>
                
                 <tr>
                    <td class="label"></td>
                    <td>
                        &nbsp; <input type="submit" name="submit" value="Save">
                       <input type="button" name="cancel" value="Cancel" class="cancel" onClick="cancelAdd()">
                       <a class="a-inside delete" href="/subcategoria">Volver a Listado de Subcategorias</a>
                    </td>
                 </tr>
                </table>
            </form>
            
        </div>
        
        
