<html>
    <head>
        <title> <%=(locals.title) ? title :''%> </title>
    </head>
    
    <body>
        
        <h2>Pagina de MENU<h2>
		
		<a href="/"> Inicio <a/>
		<br>
		
		
		<a href="/comprar"> Comprar/Carrito <a/>
		<br>
		
		<a href="/contacto"> Contacto <a/>
		<br>
		
		<a href="/quinesSomos"> Quienes Somos <a/>
		<br>
		<br>
		
		
		
		ADMINISTRACION DE MANTENEDORES
		<br>
		<a href="/usuario"> Usuario <a/>
		<br>
		<a href="/categoria"> Categoria <a/>
		<br>
		<a href="/subcategoria"> SubCategoria <a/>
		
    </body>
</html>


