<html>
	
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Node JS 2017-MENU</title>
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/estilo.css" rel="stylesheet">
	<link href="css/login.css" rel="stylesheet">
	<script src="js/jquery-2.2.0.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
</head>

<body>
	
	<!--Contenedor-->
	<div class="container-fluid">
	
		<%include templates/headerAdmin.html%>
		
		<%include templates/login.html%>
				

			
		<!-- Fila Top -->
		<div class="container">    
			<div class="row" id="top">
				<!--<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 text-center">
					<img class="img-circle" src="img/photo.jpg" width="30%">
					<h3>Lorem Ipsum</h3>
					<p>Es simplemente el texto de relleno de las imprentas</p>
				</div>-->
				
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
				  <div class="panel panel-primary">
					<div class="panel-heading">BLACK FRIDAY DEAL</div>
					<div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
					<div class="panel-footer">Buy 50 mobiles and get a gift card</div>
				  </div>
				</div>
				
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12"> 
				  <div class="panel panel-danger">
					<div class="panel-heading">BLACK FRIDAY DEAL</div>
					<div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
					<div class="panel-footer">Buy 50 mobiles and get a gift card</div>
				  </div>
				</div>
				
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12"> 
				  <div class="panel panel-success">
					<div class="panel-heading">BLACK FRIDAY DEAL</div>
					<div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
					<div class="panel-footer">Buy 50 mobiles and get a gift card</div>
				  </div>
				</div>
				
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12"> 
				  <div class="panel panel-success">
					<div class="panel-heading">BLACK FRIDAY DEAL</div>
					<div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
					<div class="panel-footer">Buy 50 mobiles and get a gift card</div>
				  </div>
				</div>
				
			</div>
		</div>
		
		<%include templates/footer.html%>
		
		
	</div> <!-- /div container-fluid -->
		
</body>

</html>
